<?php
declare(strict_types=1);

use Codeception\Util\HttpCode;
use Faker\Factory;
use Faker\Generator;

{{>licenseInfo}}

{{#operations}}/**
 * Class {{classname}}
 *
 * Acceptance tests for the {{classVarName}} endpoint.
 *
 */
class {{classname}}
{
    /**
     * @var Generator
     */
    protected $faker;

    /**
     * {{classname}} constructor.
     */
    public function __construct()
    {
        $this->faker = Factory::create();
    }
    {{#operation}}
    /**
     * Operation {{{operationId}}}
     *
     * {{{summary}}}
     *
     * @param AcceptanceTester $I
     * @throws \Exception
     */
    public function {{operationId}}(AcceptanceTester $I)
    {
        {{#if pathParams}}{{#pathParams}}${{baseName}} = ''; //{{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
        {{/pathParams}}
        {{/if ~}}
        {{#if queryParams}}{{#queryParams}}{{#if items}}{{#items}}{{#if _enum}}${{baseName}} = {{{_enum}}};
        ${{baseName}} = ${{baseName}}[0];{{else}}{{#queryParams}}${{{baseName}}} = '';{{/queryParams}}{{/if}}{{/items}}{{else}}${{{baseName}}} = '';{{/if}} //{{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
        {{/queryParams}}
        {{/if ~}}

        $I->haveHttpHeader('Content-Type', '{{contentType}}');
        $I->send{{httpMethod}}("{{{resolvedPath}}}"{{#ifEquals httpMethod 'PUT'}}, json_encode(
            [
                {{{codeCeptionRequestBody}}}
            ]
        ){{/ifEquals ~}}{{#ifEquals httpMethod 'POST'}}, json_encode(
            [
                {{{codeCeptionRequestBody}}}
            ]
        ){{/ifEquals ~}});
        $I->seeResponseCodeIs(HttpCode::{{#responses}}{{#@first}}{{httpDescription}}{{/@first}}{{/responses}});{{#produces}}{{#@first}}{{#ifEquals mediaType 'application/json'}}
        $I->seeResponseIsJson();{{/ifEquals}}{{#ifEquals mediaType 'application/xml'}}
        $I->seeResponseIsXml();{{/ifEquals}}{{/@first}}{{/produces}}
    {{#codeCeptionResponse}}    $I->seeResponseMatchesJsonType(
            [
                {{{codeCeptionResponse}}}
            ]
        );
    {{/codeCeptionResponse ~}}
    }
    {{/operation}}
}
{{/operations ~}}
